body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/* Lista de artículos */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width:60%;
  margin: 0 auto;
  gap:20px
}

.flex-element {
  background-color: beige;
  border: 1px solid none;
  border-radius: 10px;
  width: 300px;
  padding: 3px 30px
}
.title{
  font-weight: bold;
}

.price{
  font-style: italic;
}

p[venta=true]{
  color:green;
}
p[venta=false]{
  color:red;
}

.imagen{
  width: 250px;
  height: 250px;
}
/* Form */
.element-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 10px;
  gap: 10px;
}